body {
    font-family: 'Roboto Slab', serif;
    background-image: url("Background.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    margin: 0; 
    padding: 0;
    color: #020202; 
}

h1 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    background-color: rgba(28, 49, 41, 0.88); 
    width: 100%;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid #fff;
}

h1:first-letter {
    font-size: 50px;
}

h2 {
    text-align: center;
    margin-top: 50px; 
    font-size: 38px;
    color: #ffffff;
    text-shadow: 1px 1px 4px #000; 
}

h3 {
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}



section {
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(17, 138, 175, 0.5); /* Semi-transparent section background */
    border-radius: 10px;
    color: #000000; /* Ensure content is readable */
}
a{
    text-decoration: none;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
    background-color: #95e1e4b4; /* Semi-transparent table background */
}

table, th, td {
    border: 2px solid #000;
}

th, td {
    padding: 0.5em;
    text-align: left;
}
th{
    background-color: #28a76c;
}

td {
    text-align: center; 
    vertical-align: middle; 
    font-weight: bold; 
    font-size: 20px;
}

button {
    padding: 0.5em 1em;
    background-color: #136594f6;
    color: #fff;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.save{
    padding: 20px;
}


.next{
    padding: 40px;
    
}

button:hover {
    background-color: #057aa8; /* Highlight on hover */
}

input[type="submit"] {
    padding: 0.5em 1em;
    background-color: #28a76c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

input[type="submit"]:hover {
    background-color: #218877;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .dropbtn {
        font-size: 12px;
        padding: 10px;
    }
    table, th, td {
        font-size: 14px;
    }
    button {
        padding: 0.5em;
        font-size: 14px;
    }
}
